<header class="text-white-600 body-font bg-blue-500">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      routerLink="/"
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 cursor-pointer"
    >
      <app-logo class="w-10 h-10 p-2 text-gray-900 bg-white rounded-full" />
      <span class="ml-3 text-2xl text-white font-semibold">Paycommerce</span>
    </a>
    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center text-white"
    >
      <a
        href="/"
        class="mr-2 hover:text-gray-900 cursor-pointer hover:bg-gray-200 hover:border hover:rounded-lg py-2 px-6 hover:focus:outline-none"
        ><span class="p-2">Productos</span></a
      >
    </nav>
    <div class="relative">
      <button
        (click)="toggleMenu()"
        [disabled]="!cartStore.productsCount()"
        class="inline-flex items-center bg-gray-100 border rounded-lg p-1 focus:outline-none hover:bg-gray-200 text-base mt-4 md:mt-0 cursor-pointer"
      >
        <app-cart-logo
          class="w-10 h-10 p-2 font-bold rounded-full transform transition duration-300 ease-in-out"
          [class.-scale-x-100]="isMenuOpen"
        />
        @if (cartStore.productsCount() ) {
        <span
          class="absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 bg-red-500 text-white text-xs font-semibold rounded-full w-5 h-5 flex items-center justify-center"
        >
          {{ cartStore.productsCount() }}
        </span>
        }
      </button>
      @if (isMenuOpen && cartStore.productsCount()) {
      <div
        class="absolute right-0 mt-0 w-64 bg-white border rounded-lg shadow-lg z-10 cursor-default transition-opacity duration-300 ease-in-out"
      >
        <ul class="py-1 text-gray-700">
          @for (product of cartStore.products(); track $index) {
          <li
            class="px-4 py-2 flex items-center justify-between"
            title="{{ product.title }}"
          >
            <span class="font-bold">{{ product.qty }}</span>
            <span>{{ product.title | slice : 0 : 10 }}</span>
            <span>{{ product.subTotal || product.price | currency }}</span>
          </li>
          }
          <hr class="mt-2 border-gray-400" />
          <li class="flex justify-between px-5 p-2 font-light">
            Total:
            <span class="not-italic font-bold">
              {{ cartStore.totalAmount() | currency }}
            </span>
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</header>
